<form [formGroup]="formularioCadastro" (ngSubmit)="loginCadastro()">
  <mat-form-field>
    <input matInput placeholder="Email de login" formControlName="email">
    <mat-error *ngIf="email?.errors?.['required']">O campo de email não pode estar vazio</mat-error>
    <mat-error *ngIf="email?.errors?.['email']">O formato de email não é válido</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Senha de acesso" formControlName="senha"type="password">
    <mat-error *ngIf="senha?.errors?.['required']">O campo de senha não pode estar vazio</mat-error>
  </mat-form-field>
  <mat-card-footer>
    <button mat-raised-button color="accent" type="submit">Entrar</button>
    <button mat-button mat-dialog-close>Fechar</button>
  </mat-card-footer>
</form>
